[kdcdefaults]
        kdc_ports = 88
        kdc_tcp_ports = 88

[realms]
        {{ krb_realm }} = {
                database_name = /var/kerberos/krb5kdc/principal
		dict_file = /usr/share/dict/words
		admin_keytab = /var/kerberos/krb5kdc/kadm5.keytab
                acl_file = /var/kerberos/krb5kdc/kadm5.acl
                key_stash_file = /var/kerberos/krb5kdc/.k5.{{ krb_realm }}
                max_life = {{ kerberos_ticket_max_life }}
                max_renewable_life = {{ kerberos_ticket_max_renewable_life }}
		supported_enctypes = aes256-cts:normal aes128-cts:normal des3-hmac-sha1:normal arcfour-hmac:normal des-hmac-sha1:normal des-cbc-md5:normal des-cbc-crc:normal
        }
