{
   "configurations": [
        {
            "hive-env": {
                "properties": {
                    "hive_database": "Existing MySQL Database"
                }
            }
        },
{% if 'KERBEROS' in blueprint_services %}
    {
          "kerberos-env": {
            "properties_attributes" : { },
            "properties" : {
              "realm" : "{{ krb_realm }}",
              "kdc_type" : "mit-kdc",
              "kdc_host" : "{{ groups[cluster_name+'_kdcmaster'][0] }}",
              "encryption_types": "aes des3-cbc-sha1 rc4 des-cbc-md5",
              "ldap_url" : "",
              "container_dn" : "",
              "admin_server_host" : "{{ groups[cluster_name+'_kdcmaster'][0] }}"
            }
          }
        },
        {
          "krb5-conf": {
            "properties_attributes" : { },
            "properties" : {
              "domains" : "",
              "manage_krb5_conf" : "false"
            }
          }
        },
{% endif %}
{% if 'RANGER' in blueprint_services %}
    {
      "admin-properties" : {
        "properties_attributes" : { },
        "properties" : {
          "DB_FLAVOR" : "MYSQL",
          "audit_db_name" : "{{ mysql_rangeraudit_database }}",
          "db_name" : "{{ mysql_ranger_database }}",
          "audit_db_user" : "{{ mysql_rangeraudit_user }}",
          "SQL_CONNECTOR_JAR" : "/usr/share/java/mysql-connector-java.jar",
          "db_user" : "{{ mysql_ranger_user }}",
          "policymgr_external_url" : "http://{{ groups[cluster_name+'_mn03'][0] }}:6080",
          "db_host" : "{{ groups[cluster_name+'_mn03'][0] }}:3306",
          "db_root_user" : "{{ mysql_root_user }}",
          "db_root_password" : "{{ mysql_root_password }}",
          "db_password" : "{{ mysql_ranger_password }}",
          "audit_db_password" : "{{ mysql_rangeraudit_password }}"
        }
      }
    },
    {
      "ranger-admin-site" : {
        "properties_attributes" : { },
        "properties" : {
          "ranger.jpa.jdbc.url" : "jdbc:mysql://{{ groups[cluster_name+'_mn03'][0] }}:3306/{{ mysql_ranger_database }}",
          "ranger.jpa.audit.jdbc.url" : "jdbc:mysql://{{ groups[cluster_name+'_mn03'][0] }}:3306/{{ mysql_rangeraudit_database }}"
        }
      }
    },
    {
      "ranger-env" : {
        "properties_attributes" : { },
        "properties" : {
          "ranger_user" : "ranger",
          "ranger-hdfs-plugin-enabled" : "Yes",
          "ranger-yarn-plugin-enabled" : "No",
{% if 'KAFKA' in blueprint_services %}
          "ranger-kafka-plugin-enabled" : "Yes",
{% endif %}
{% if 'HBASE' in blueprint_services %}
          "ranger-hbase-plugin-enabled" : "Yes",
{% endif %}
          "ranger-hive-plugin-enabled" : "Yes",
{% if 'STORM' in blueprint_services %}
          "ranger-storm-plugin-enabled" : "Yes",
{% endif %}
          "xasecure.audit.destination.solr" : "false",
          "xasecure.audit.destination.db" : "true",
          "ranger_group" : "ranger",
          "ranger_admin_username" : "amb_ranger_admin",
          "ranger_admin_password" : "amb_ranger_admin",
          "admin_username" : "admin"
        }
      }
    },
    {
        "ranger-hdfs-plugin-properties" : {
          "properties_attributes" : { },
          "properties" : {
            "REPOSITORY_CONFIG_USERNAME" : "hadoop",
            "ranger-hdfs-plugin-enabled" : "Yes",
            "common.name.for.certificate" : "",
            "policy_user" : "ambari-qa",
            "hadoop.rpc.protection" : ""
          }
        }
      },
      {
          "ranger-hive-plugin-properties" : {
            "properties_attributes" : { },
            "properties" : {
              "REPOSITORY_CONFIG_USERNAME" : "hive",
              "ranger-hive-plugin-enabled" : "Yes",
              "common.name.for.certificate" : "",
              "policy_user" : "ambari-qa",
              "hadoop.rpc.protection" : ""
            }
          }
        },
{% if 'HBASE' in blueprint_services %}
        {
            "ranger-hbase-plugin-properties" : {
              "properties_attributes" : { },
              "properties" : {
                "REPOSITORY_CONFIG_USERNAME" : "hbase",
                "ranger-hbase-plugin-enabled" : "Yes",
                "common.name.for.certificate" : "",
                "policy_user" : "ambari-qa",
                "hadoop.rpc.protection" : ""
              }
            }
          },
{% endif %}
{% if 'KAFKA' in blueprint_services %}
          {
              "ranger-kafka-plugin-properties" : {
                "properties_attributes" : { },
                "properties" : {
                  "REPOSITORY_CONFIG_USERNAME" : "kafka",
                  "ranger-kafka-plugin-enabled" : "Yes",
                  "common.name.for.certificate" : "",
                  "policy_user" : "ambari-qa",
                  "hadoop.rpc.protection" : ""
                }
              }
            },
{% endif %}
{% if 'STORM' in blueprint_services %}
            {
                "ranger-storm-plugin-properties" : {
                  "properties_attributes" : { },
                  "properties" : {
                    "REPOSITORY_CONFIG_USERNAME" : "storm",
                    "ranger-storm-plugin-enabled" : "Yes",
                    "common.name.for.certificate" : "",
                    "policy_user" : "ambari-qa",
                    "hadoop.rpc.protection" : ""
                  }
                }
              },
{% endif %}
{% endif %}
{% if 'OOZIE' in blueprint_services %}
        {
            "oozie-site" : {
                "properties" : {
                    "oozie.service.JPAService.jdbc.driver" : "com.mysql.jdbc.Driver",
                    "oozie.service.JPAService.jdbc.url" : "jdbc:mysql://{{ groups[cluster_name+'_mn03'][0] }}/oozie",
                    "oozie.service.JPAService.jdbc.username" : "{{ mysql_oozie_user }}",
                    "oozie.db.schema.name" : "{{ mysql_oozie_database }}"
                }
             }
        },
        {
            "oozie-env" : {
               "properties" : {
                   "oozie_hostname" : "{{ groups[cluster_name+'_mn03'][0] }}",
                   "oozie_database" : "Existing MySQL Database"
                }
            }
        },
{% endif %}
        {
            "ams-site": {
                "properties": {
                }
            }
        },
        {
            "core-site": {
                "properties": {
                    "hadoop.proxyuser.hive.groups": "*",
                    "hadoop.proxyuser.hdfs.groups": "*",
                    "hadoop.proxyuser.hcat.hosts": "{{ groups[cluster_name+'_mn03'][0] }}",
                    "hadoop.proxyuser.hdfs.hosts": "*",
                    "hadoop.proxyuser.hive.hosts": "{{ groups[cluster_name+'_mn03'][0] }}"
                }
            }
        },
        {
            "hive-site": {
                "properties": {
                    "hive.enforce.bucketing": "false",
                    "javax.jdo.option.ConnectionURL": "jdbc:mysql://{{ groups[cluster_name+'_mn03'][0] }}/hive?createDatabaseIfNotExist=true"
                }
            }
        },
        {
            "yarn-env": {
                "properties": {
                    "min_user_id": "1000"
                }
            }
        },
        {
            "tez-site": {
                "properties": {
                }
            }
        },
        {
            "mapred-site": {
                "properties": {
                }
            }
        },
        {
            "yarn-site": {
                "properties": {
                }
            }
        },
        {
            "zoo.cfg": {
                "properties": {
                }
            }
        },
        {
            "hadoop-env": {
                "properties": {
                }
            }
        },
        {
            "ams-env": {
                "properties": {
                }
            }
        },
        {
            "hdfs-site": {
                "properties": {
                }
            }
        },
        {
            "ams-hbase-site": {
                "properties": {
                }
            }
        }
    ],
  "Blueprints" : {
{% if 'KERBEROS' in blueprint_services %}
    "security" : {
         "type" : "KERBEROS"
    },
{% endif %}
    "stack_name" : "HDP",
    "stack_version" : "{{ hdp_stack }}"
  },
   "host_groups" : [
    {
      "name" : "mn03",
      "configurations" : [ ],
      "components" : [
{% if 'KERBEROS' in blueprint_services %}
        {
          "name" : "KERBEROS_CLIENT"
        },
{% endif %}
{% if 'RANGER' in blueprint_services %}
        {
              "name" : "RANGER_USERSYNC"
        },
        {
              "name" : "RANGER_ADMIN"
        },
{% endif %}
        {
          "name" : "ZOOKEEPER_SERVER"
        },
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
{% if 'OOZIE' in blueprint_services %}
{% if 'FALCON' in blueprint_services %}
        {
          "name" : "FALCON_SERVER"
        },
        {
          "name" : "FALCON_CLIENT"
        },
{% endif %}
        {
          "name" : "OOZIE_SERVER"
        },
        {
          "name" : "OOZIE_CLIENT"
        },
{% endif %}
        {
          "name" : "PIG"
        },
{% if 'SPARK' in blueprint_services %}
        {
          "name" : "SPARK_CLIENT"
        },
{% endif %}
        {
          "name" : "HIVE_SERVER"
        },
        {
          "name" : "HCAT"
        },
        {
          "name" : "METRICS_MONITOR"
        },
        {
          "name" : "TEZ_CLIENT"
        },
        {
          "name" : "HIVE_METASTORE"
        },
        {
          "name" : "AMBARI_SERVER"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
        {
          "name" : "METRICS_COLLECTOR"
        },
        {
          "name" : "MAPREDUCE2_CLIENT"
        },
        {
          "name" : "WEBHCAT_SERVER"
        }
      ],
      "cardinality" : "1"
    },
    {
      "name" : "datanode",
      "configurations" : [ ],
      "components" : [
{% if 'KERBEROS' in blueprint_services %}
        {
          "name" : "KERBEROS_CLIENT"
        },
{% endif %}
        {
          "name" : "NODEMANAGER"
        },
        {
          "name" : "METRICS_MONITOR"
        },
{% if 'KAFKA' in blueprint_services %}
        {
          "name" : "KAFKA_BROKER"
        },
{% endif %}
{% if 'STORM' in blueprint_services %}
        {
          "name" : "SUPERVISOR"
        },
{% endif %}
{% if 'HBASE' in blueprint_services %}
        {
          "name" : "HBASE_REGIONSERVER"
        },
{% endif %}
        {
          "name" : "DATANODE"
        }
      ]
    },
    {
      "name" : "mn01",
      "configurations" : [ ],
      "components" : [
{% if 'KERBEROS' in blueprint_services %}
        {
          "name" : "KERBEROS_CLIENT"
        },
{% endif %}
        {
          "name" : "ZOOKEEPER_SERVER"
        },
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
{% if 'STORM' in blueprint_services %}
{% if 'STORM' in ha_services %}
        {
          "name" : "NIMBUS"
        },
{% endif %}
{% endif %}
{% if 'KAFKA' in blueprint_services %}
{% if 'KAFKA' in ha_services %}
        {
          "name" : "KAFKA_BROKER"
        },
{% endif %}
{% endif %}
        {
          "name" : "PIG"
        },
        {
          "name" : "NAMENODE"
        },
        {
          "name" : "HCAT"
        },
        {
          "name" : "METRICS_MONITOR"
        },
        {
          "name" : "TEZ_CLIENT"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
        {
          "name" : "MAPREDUCE2_CLIENT"
        },
{% if 'HBASE' in blueprint_services %}
        {
          "name" : "HBASE_MASTER"
        },
        {
          "name" : "HBASE_CLIENT"
        },
{% endif %}
        {
          "name" : "RESOURCEMANAGER"
        }
      ],
      "cardinality" : "1"
    },
    {
      "name" : "jobserver",
      "configurations" : [ ],
      "components" : [
{% if 'KERBEROS' in blueprint_services %}
        {
          "name" : "KERBEROS_CLIENT"
        },
{% endif %}
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
        {
          "name" : "METRICS_MONITOR"
        },
        {
          "name" : "TEZ_CLIENT"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
        {
          "name" : "MAPREDUCE2_CLIENT"
        }
      ]
    },
    {
      "name" : "mn02",
      "configurations" : [ ],
      "components" : [
{% if 'KERBEROS' in blueprint_services %}
        {
          "name" : "KERBEROS_CLIENT"
        },
{% endif %}
        {
          "name" : "ZOOKEEPER_SERVER"
        },
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
{% if 'STORM' in blueprint_services %}
        {
          "name" : "NIMBUS"
        },
        {
          "name" : "DRPC_SERVER"
        },
        {
          "name" : "STORM_UI_SERVER"
        },
{% endif %}
        {
          "name" : "PIG"
        },
        {
          "name" : "HISTORYSERVER"
        },
        {
          "name" : "HCAT"
        },
        {
          "name" : "METRICS_MONITOR"
        },
        {
          "name" : "SECONDARY_NAMENODE"
        },
        {
          "name" : "TEZ_CLIENT"
        },
        {
          "name" : "APP_TIMELINE_SERVER"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
{% if 'HBASE' in blueprint_services %}
        {
          "name" : "HBASE_CLIENT"
        },
{% endif %}
{% if 'SPARK' in blueprint_services %}
        {
          "name" : "SPARK_JOBHISTORYSERVER"
        },
        {
          "name" : "SPARK_CLIENT"
        },
{% endif %}
        {
          "name" : "MAPREDUCE2_CLIENT"
        }
      ],
      "cardinality" : "1"
    }
  ]
}
