{
   "configurations": [
        {
            "hive-env": {
                "properties": {
{% if 'KERBEROS' in blueprint_services %}
                    "hive_security_authorization" : "Ranger",
{% endif %}
                    "hive_database": "Existing MySQL Database"
                }
            }
        },
{% if 'KERBEROS' in blueprint_services %}
    {
          "kerberos-env": {
            "properties_attributes" : { },
            "properties" : {
              "realm" : "{{ krb_realm }}",
              "kdc_type" : "mit-kdc",
              "kdc_host" : "{{ groups[cluster_name+'_kdcmaster'][0] }}",
              "encryption_types": "aes des3-cbc-sha1 rc4 des-cbc-md5",
              "ldap_url" : "",
              "container_dn" : "",
              "admin_server_host" : "{{ groups[cluster_name+'_kdcmaster'][0] }}"
            }
          }
        },
        {
          "krb5-conf": {
            "properties_attributes" : { },
            "properties" : {
              "domains" : "",
              "manage_krb5_conf" : "false"
            }
          }
        },
{% endif %}
{% if 'STORM' in blueprint_services %}
    {
       "storm-site" : {
        "properties" : {
{% if 'STORMUI' in ssl_services %}
   "ui.https.port" : "8740",
   "ui.https.keystore.type" : "jks",
   "ui.https.keystore.path" : "{{ cert_dir }}/{{ groups[cluster_name+'_mn02'][0] }}.jks",
   "ui.https.keystore.password" : "{{ keystore_default_pass }}",
   "ui.https.key.password" : "{{ key_default_pass }}",
   "ui.https.truststore.path" : "{{ cert_dir }}/clusterTrustStore.jks",
   "ui.https.truststore.password" : "{{ keystore_default_pass }}",
   "ui.https.truststore.type" : "jks",
{% endif %}
{% if 'RANGER' in blueprint_services %}
   "nimbus.authorizer" : "org.apache.ranger.authorization.storm.authorizer.RangerStormAuthorizer"
{% else %}
   "nimbus.authorizer" : "backtype.storm.security.auth.authorizer.SimpleACLAuthorizer"
{% endif %}
       }
     }
    },
{% endif %}
{% if 'RANGER' in blueprint_services %}
    {
      "admin-properties" : {
        "properties_attributes" : { },
        "properties" : {
          "DB_FLAVOR" : "MYSQL",
          "audit_db_name" : "{{ mysql_rangeraudit_database }}",
          "db_name" : "{{ mysql_ranger_database }}",
          "audit_db_user" : "{{ mysql_rangeraudit_user }}",
          "SQL_CONNECTOR_JAR" : "/usr/share/java/mysql-connector-java.jar",
          "db_user" : "{{ mysql_ranger_user }}",
{% if 'RANGER' in ssl_services %}
          "policymgr_external_url" : "https://{{ groups[cluster_name+'_mn03'][0] }}:6182",
{% else %}
          "policymgr_external_url" : "http://{{ groups[cluster_name+'_mn03'][0] }}:6080",
{% endif %}
          "db_host" : "{{ groups[cluster_name+'_mn03'][0] }}:3306",
          "db_root_user" : "{{ mysql_root_user }}",
          "db_root_password" : "{{ mysql_root_password }}",
          "db_password" : "{{ mysql_ranger_password }}",
          "audit_db_password" : "{{ mysql_rangeraudit_password }}"
        }
      }
    },
    {
      "ranger-admin-site" : {
        "properties_attributes" : { },
        "properties" : {
{% if 'RANGER' in ssl_services %}
          "ranger.service.https.attrib.ssl.enabled" : "true",
          "ranger.service.http.enabled" : "false",
          "ranger.https.attrib.keystore.file" : "{{ cert_dir }}/{{ groups[cluster_name+'_mn03'][0] }}.jks",
          "ranger.service.https.attrib.keystore.pass" : "{{ keystore_default_pass }}",
          "ranger.service.https.attrib.clientAuth" : "want",
          "ranger.service.https.attrib.keystore.keyalias" : "{{ groups[cluster_name+'_mn03'][0] }}",
{% endif %}
          "ranger.jpa.jdbc.url" : "jdbc:mysql://{{ groups[cluster_name+'_mn03'][0] }}:3306/{{ mysql_ranger_database }}",
          "ranger.jpa.audit.jdbc.url" : "jdbc:mysql://{{ groups[cluster_name+'_mn03'][0] }}:3306/{{ mysql_rangeraudit_database }}"
        }
      }
    },
    {
      "ranger-ugsync-site" : {
        "properties_attributes" : { },
        "properties" : {
{% if 'RANGER' in ssl_services %}
          "ranger.usersync.truststore.file" : "{{ cert_dir }}/clusterTrustStore.jks",
          "ranger.usersync.truststore.password" : "{{ truststore_default_pass }}"
{% endif %}
        }
      }
    },
    {
      "ranger-env" : {
        "properties_attributes" : { },
        "properties" : {
          "ranger_user" : "ranger",
          "ranger-hdfs-plugin-enabled" : "Yes",
          "ranger-yarn-plugin-enabled" : "No",
{% if 'KAFKA' in blueprint_services %}
          "ranger-kafka-plugin-enabled" : "Yes",
{% endif %}
{% if 'HBASE' in blueprint_services %}
          "ranger-hbase-plugin-enabled" : "Yes",
{% endif %}
          "ranger-hive-plugin-enabled" : "Yes",
{% if 'STORM' in blueprint_services %}
          "ranger-storm-plugin-enabled" : "Yes",
{% endif %}
          "xasecure.audit.destination.solr" : "false",
          "xasecure.audit.destination.db" : "true",
          "ranger_group" : "ranger",
          "ranger_admin_username" : "amb_ranger_admin",
          "ranger_admin_password" : "amb_ranger_admin",
          "admin_username" : "admin"
        }
      }
    },
    {
        "ranger-hdfs-plugin-properties" : {
          "properties_attributes" : { },
          "properties" : {
            "REPOSITORY_CONFIG_USERNAME" : "hadoop",
            "ranger-hdfs-plugin-enabled" : "Yes",
{% if 'RANGER' in ssl_services %}
            "common.name.for.certificate" : "rangerHdfsAgent",
{% else %}
            "common.name.for.certificate" : "",
{% endif %}
            "policy_user" : "ambari-qa",
            "hadoop.rpc.protection" : ""
          }
        }
      },
{% if 'RANGER' in ssl_services %}
     {
        "ranger-hdfs-policymgr-ssl" : {
           "properties_attributes" : { },
           "properties" : {
               "xasecure.policymgr.clientssl.keystore" : "{{ cert_dir }}/rangerHdfsAgent.jks",
               "xasecure.policymgr.clientssl.keystore.password" : "{{ keystore_default_pass }}",
               "xasecure.policymgr.clientssl.truststore" : "{{ cert_dir }}/clusterTrustStore.jks",
               "xasecure.policymgr.clientssl.truststore.password" : "{{ truststore_default_pass }}"
          }
        }
      },
{% endif %}
      {
          "ranger-hive-plugin-properties" : {
            "properties_attributes" : { },
            "properties" : {
              "REPOSITORY_CONFIG_USERNAME" : "hive",
              "ranger-hive-plugin-enabled" : "Yes",
{% if 'RANGER' in ssl_services %}
              "common.name.for.certificate" : "rangerHiveAgent",
{% else %}
              "common.name.for.certificate" : "",
{% endif %}
              "policy_user" : "ambari-qa",
              "hadoop.rpc.protection" : ""
            }
          }
        },
{% if 'RANGER' in ssl_services %}
     {
        "ranger-hive-policymgr-ssl" : {
           "properties_attributes" : { },
           "properties" : {
               "xasecure.policymgr.clientssl.keystore" : "{{ cert_dir }}/rangerHiveAgent.jks",
               "xasecure.policymgr.clientssl.keystore.password" : "{{ keystore_default_pass }}",
               "xasecure.policymgr.clientssl.truststore" : "{{ cert_dir }}/clusterTrustStore.jks",
               "xasecure.policymgr.clientssl.truststore.password" : "{{ truststore_default_pass }}"
          }
        }
      },
{% endif %}
{% if 'HBASE' in blueprint_services %}
        {
            "ranger-hbase-plugin-properties" : {
              "properties_attributes" : { },
              "properties" : {
                "REPOSITORY_CONFIG_USERNAME" : "hbase",
                "ranger-hbase-plugin-enabled" : "Yes",
{% if 'RANGER' in ssl_services %}
                "common.name.for.certificate" : "rangerHbaseAgent",
{% else %}
                "common.name.for.certificate" : "",
{% endif %}
                "policy_user" : "ambari-qa",
                "hadoop.rpc.protection" : ""
              }
            }
          },
{% if 'RANGER' in ssl_services %}
     {
        "ranger-hbase-policymgr-ssl" : {
           "properties_attributes" : { },
           "properties" : {
               "xasecure.policymgr.clientssl.keystore" : "{{ cert_dir }}/rangerHbaseAgent.jks",
               "xasecure.policymgr.clientssl.keystore.password" : "{{ keystore_default_pass }}",
               "xasecure.policymgr.clientssl.truststore" : "{{ cert_dir }}/clusterTrustStore.jks",
               "xasecure.policymgr.clientssl.truststore.password" : "{{ truststore_default_pass }}"
          }
        }
      },
{% endif %}
{% endif %}
{% if 'KAFKA' in blueprint_services %}
          {
              "ranger-kafka-plugin-properties" : {
                "properties_attributes" : { },
                "properties" : {
                  "REPOSITORY_CONFIG_USERNAME" : "kafka",
                  "ranger-kafka-plugin-enabled" : "Yes",
{% if 'RANGER' in ssl_services %}
                  "common.name.for.certificate" : "rangerKafkaAgent",
{% else %}
                  "common.name.for.certificate" : "",
{% endif %}
                  "policy_user" : "ambari-qa",
                  "hadoop.rpc.protection" : ""
                }
              }
            },
{% if 'RANGER' in ssl_services %}
     {
        "ranger-kafka-policymgr-ssl" : {
           "properties_attributes" : { },
           "properties" : {
               "xasecure.policymgr.clientssl.keystore" : "{{ cert_dir }}/rangerKafkaAgent.jks",
               "xasecure.policymgr.clientssl.keystore.password" : "{{ keystore_default_pass }}",
               "xasecure.policymgr.clientssl.truststore" : "{{ cert_dir }}/clusterTrustStore.jks",
               "xasecure.policymgr.clientssl.truststore.password" : "{{ truststore_default_pass }}"
          }
        }
      },
{% endif %}
{% endif %}
{% if 'STORM' in blueprint_services %}
            {
                "ranger-storm-plugin-properties" : {
                  "properties_attributes" : { },
                  "properties" : {
                    "REPOSITORY_CONFIG_USERNAME" : "storm",
                    "ranger-storm-plugin-enabled" : "Yes",
{% if 'RANGER' in ssl_services %}
                    "common.name.for.certificate" : "rangerStormAgent",
{% else %}
                    "common.name.for.certificate" : "",
{% endif %}
                    "policy_user" : "ambari-qa",
                    "hadoop.rpc.protection" : ""
                  }
                }
              },
{% if 'RANGER' in ssl_services %}
     {
        "ranger-storm-policymgr-ssl" : {
           "properties_attributes" : { },
           "properties" : {
               "xasecure.policymgr.clientssl.keystore" : "{{ cert_dir }}/rangerStormAgent.jks",
               "xasecure.policymgr.clientssl.keystore.password" : "{{ keystore_default_pass }}",
               "xasecure.policymgr.clientssl.truststore" : "{{ cert_dir }}/clusterTrustStore.jks",
               "xasecure.policymgr.clientssl.truststore.password" : "{{ truststore_default_pass }}"
          }
        }
      },
{% endif %}
{% endif %}
{% endif %}
{% if 'OOZIE' in blueprint_services %}
        {
            "oozie-site" : {
                "properties" : {
                    "oozie.service.JPAService.jdbc.driver" : "com.mysql.jdbc.Driver",
                    "oozie.service.JPAService.jdbc.url" : "jdbc:mysql://{{ groups[cluster_name+'_mn03'][0] }}/oozie",
                    "oozie.service.JPAService.jdbc.username" : "{{ mysql_oozie_user }}",
                    "oozie.db.schema.name" : "{{ mysql_oozie_database }}"
                }
             }
        },
        {
            "oozie-env" : {
               "properties" : {
                   "oozie_hostname" : "{{ groups[cluster_name+'_mn03'][0] }}",
                   "oozie_database" : "Existing MySQL Database"
                }
            }
        },
{% endif %}
        {
            "ams-site": {
                "properties": {
                }
            }
        },
        {
            "core-site": {
                "properties": {
{% if 'NAMENODE' in ha_services %}
                    "fs.defaultFS" : "hdfs://{{ cluster_name }}",
                    "ha.zookeeper.quorum" : "{{ groups[cluster_name+'_mn01'][0] }}:2181,{{ groups[cluster_name+'_mn02'][0] }}:2181,{{ groups[cluster_name+'_mn03'][0] }}:2181",
{% endif %}
                    "hadoop.proxyuser.hive.groups": "*",
                    "hadoop.proxyuser.hdfs.groups": "*",
                    "hadoop.proxyuser.hcat.hosts": "{{ groups[cluster_name+'_mn03'][0] }}",
                    "hadoop.proxyuser.hdfs.hosts": "*",
                    "hadoop.proxyuser.hive.hosts": "{{ groups[cluster_name+'_mn03'][0] }}"
                }
            }
        },
        {
            "hive-site": {
                "properties": {
{% if 'RANGER' in blueprint_services %}
                    "hive.security.authorization.enabled" : "true",
                    "hive.server2.enable.doAs" : "false",
{% endif %}
                    "hive.enforce.bucketing": "false",
                    "javax.jdo.option.ConnectionURL": "jdbc:mysql://{{ groups[cluster_name+'_mn03'][0] }}/hive?createDatabaseIfNotExist=true"
                }
            }
        },
        {
            "hiveserver2-site": {
                "properties": {
{% if 'RANGER' in blueprint_services %}
                    "hive.security.authorization.enabled" : "true",
                    "hive.conf.restricted.list" : "hive.security.authorization.enabled,hive.security.authorization.manager,hive.security.authenticator.manager",
                    "hive.security.authenticator.manager" : "org.apache.hadoop.hive.ql.security.SessionStateUserAuthenticator",
                    "hive.security.authorization.manager" : "org.apache.ranger.authorization.hive.authorizer.RangerHiveAuthorizerFactory"
{% endif %}
                }
            }
        },
        {
            "yarn-env": {
                "properties": {
                    "min_user_id": "1000"
                }
            }
        },
        {
            "tez-site": {
                "properties": {
                }
            }
        },
        {
            "mapred-site": {
                "properties": {
                }
            }
        },
        {
            "yarn-site": {
                "properties": {
                }
            }
        },
        {
            "zoo.cfg": {
                "properties": {
                }
            }
        },
        {
            "hadoop-env": {
                "properties": {
                }
            }
        },
        {
            "ams-env": {
                "properties": {
                }
            }
        },
        {
            "hdfs-site": {
                "properties": {
{% if 'NAMENODE' in ha_services %}
                  "dfs.client.failover.proxy.provider.{{ cluster_name }}" : "org.apache.hadoop.hdfs.server.namenode.ha.ConfiguredFailoverProxyProvider",
                  "dfs.ha.automatic-failover.enabled" : "true",
                  "dfs.ha.fencing.methods" : "shell(/bin/true)",
                  "dfs.ha.namenodes.{{ cluster_name }}" : "nn1,nn2",
                  "dfs.namenode.http-address" : "{{ groups[cluster_name+'_mn01'][0] }}:50070",
                  "dfs.namenode.http-address.{{ cluster_name }}.nn1" : "{{ groups[cluster_name+'_mn01'][0] }}:50070",
                  "dfs.namenode.http-address.{{ cluster_name }}.nn2" : "{{ groups[cluster_name+'_mn02'][0] }}:50070",
                  "dfs.namenode.https-address" : "{{ groups[cluster_name+'_mn01'][0] }}:50470",
                  "dfs.namenode.https-address.{{ cluster_name }}.nn1" : "{{ groups[cluster_name+'_mn01'][0] }}:50470",
                  "dfs.namenode.https-address.{{ cluster_name }}.nn2" : "{{ groups[cluster_name+'_mn02'][0] }}:50470",
                  "dfs.namenode.rpc-address.{{ cluster_name }}.nn1" : "{{ groups[cluster_name+'_mn01'][0] }}:8020",
                  "dfs.namenode.rpc-address.{{ cluster_name }}.nn2" : "{{ groups[cluster_name+'_mn02'][0] }}:8020",
                  "dfs.namenode.shared.edits.dir" : "qjournal://{{ groups[cluster_name+'_mn01'][0] }}:8485;{{ groups[cluster_name+'_mn02'][0] }}:8485;{{ groups[cluster_name+'_mn03'][0] }}:8485/{{ cluster_name }}",
                  "dfs.nameservices" : "{{ cluster_name }}",
{% endif %}
{% if 'RANGER' in blueprint_services %}
                  "dfs.namenode.inode.attributes.provider.class" : "org.apache.ranger.authorization.hadoop.RangerHdfsAuthorizer",
{% endif %}
                  "dfs.cluster.administrators" : "hdfs"
                }
            }
        },
        {
            "ams-hbase-site": {
                "properties": {
                }
            }
        }
    ],
  "Blueprints" : {
{% if 'KERBEROS' in blueprint_services %}
    "security" : {
         "type" : "KERBEROS"
    },
{% endif %}
    "stack_name" : "HDP",
    "stack_version" : "{{ hdp_stack }}"
  },
   "host_groups" : [
    {
      "name" : "mn03",
      "configurations" : [ ],
      "components" : [
{% if 'KERBEROS' in blueprint_services %}
        {
          "name" : "KERBEROS_CLIENT"
        },
{% endif %}
{% if 'RANGER' in blueprint_services %}
        {
              "name" : "RANGER_USERSYNC"
        },
        {
              "name" : "RANGER_ADMIN"
        },
{% endif %}
        {
          "name" : "ZOOKEEPER_SERVER"
        },
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
{% if 'OOZIE' in blueprint_services %}
{% if 'FALCON' in blueprint_services %}
        {
          "name" : "FALCON_SERVER"
        },
        {
          "name" : "FALCON_CLIENT"
        },
{% endif %}
        {
          "name" : "OOZIE_SERVER"
        },
        {
          "name" : "OOZIE_CLIENT"
        },
{% endif %}
        {
          "name" : "PIG"
        },
{% if 'SPARK' in blueprint_services %}
        {
          "name" : "SPARK_CLIENT"
        },
{% endif %}
        {
          "name" : "HIVE_SERVER"
        },
        {
          "name" : "HCAT"
        },
        {
          "name" : "METRICS_MONITOR"
        },
        {
          "name" : "TEZ_CLIENT"
        },
        {
          "name" : "HIVE_METASTORE"
        },
{% if 'NAMENODE' in ha_services %}
        {
          "name" : "JOURNALNODE"
        },
{% endif %}
        {
          "name" : "AMBARI_SERVER"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
        {
          "name" : "METRICS_COLLECTOR"
        },
        {
          "name" : "MAPREDUCE2_CLIENT"
        },
        {
          "name" : "WEBHCAT_SERVER"
        }
      ],
      "cardinality" : "1"
    },
    {
      "name" : "datanode",
      "configurations" : [ ],
      "components" : [
{% if 'KERBEROS' in blueprint_services %}
        {
          "name" : "KERBEROS_CLIENT"
        },
{% endif %}
        {
          "name" : "NODEMANAGER"
        },
        {
          "name" : "METRICS_MONITOR"
        },
{% if 'KAFKA' in blueprint_services %}
        {
          "name" : "KAFKA_BROKER"
        },
{% endif %}
{% if 'STORM' in blueprint_services %}
        {
          "name" : "SUPERVISOR"
        },
{% endif %}
{% if 'HBASE' in blueprint_services %}
        {
          "name" : "HBASE_REGIONSERVER"
        },
{% endif %}
        {
          "name" : "DATANODE"
        }
      ]
    },
    {
      "name" : "mn01",
      "configurations" : [ ],
      "components" : [
{% if 'KERBEROS' in blueprint_services %}
        {
          "name" : "KERBEROS_CLIENT"
        },
{% endif %}
        {
          "name" : "ZOOKEEPER_SERVER"
        },
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
{% if 'STORM' in blueprint_services %}
{% if 'STORM' in ha_services %}
        {
          "name" : "NIMBUS"
        },
{% endif %}
{% endif %}
{% if 'KAFKA' in blueprint_services %}
{% if 'KAFKA' in ha_services %}
        {
          "name" : "KAFKA_BROKER"
        },
{% endif %}
{% endif %}
        {
          "name" : "PIG"
        },
        {
          "name" : "NAMENODE"
        },
{% if 'NAMENODE' in ha_services %}
        {
          "name" : "ZKFC"
        },
        {
          "name" : "JOURNALNODE"
        },
{% endif %}
        {
          "name" : "HCAT"
        },
        {
          "name" : "METRICS_MONITOR"
        },
        {
          "name" : "TEZ_CLIENT"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
        {
          "name" : "MAPREDUCE2_CLIENT"
        },
{% if 'HBASE' in blueprint_services %}
        {
          "name" : "HBASE_MASTER"
        },
        {
          "name" : "HBASE_CLIENT"
        },
{% endif %}
        {
          "name" : "RESOURCEMANAGER"
        }
      ],
      "cardinality" : "1"
    },
    {
      "name" : "jobserver",
      "configurations" : [ ],
      "components" : [
{% if 'KERBEROS' in blueprint_services %}
        {
          "name" : "KERBEROS_CLIENT"
        },
{% endif %}
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
        {
          "name" : "METRICS_MONITOR"
        },
        {
          "name" : "TEZ_CLIENT"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
        {
          "name" : "MAPREDUCE2_CLIENT"
        }
      ]
    },
    {
      "name" : "mn02",
      "configurations" : [ ],
      "components" : [
{% if 'KERBEROS' in blueprint_services %}
        {
          "name" : "KERBEROS_CLIENT"
        },
{% endif %}
        {
          "name" : "ZOOKEEPER_SERVER"
        },
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
{% if 'STORM' in blueprint_services %}
        {
          "name" : "NIMBUS"
        },
        {
          "name" : "DRPC_SERVER"
        },
        {
          "name" : "STORM_UI_SERVER"
        },
{% endif %}
        {
          "name" : "PIG"
        },
        {
          "name" : "HISTORYSERVER"
        },
        {
          "name" : "HCAT"
        },
        {
          "name" : "METRICS_MONITOR"
        },
{% if 'NAMENODE' in ha_services %}
        {
          "name" : "ZKFC"
        },
        {
          "name" : "JOURNALNODE"
        },
        {
          "name" : "NAMENODE"
        },
{% else %}
        {
          "name" : "SECONDARY_NAMENODE"
        },
{% endif %}
        {
          "name" : "TEZ_CLIENT"
        },
        {
          "name" : "APP_TIMELINE_SERVER"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
{% if 'HBASE' in blueprint_services %}
        {
          "name" : "HBASE_CLIENT"
        },
{% endif %}
{% if 'SPARK' in blueprint_services %}
        {
          "name" : "SPARK_JOBHISTORYSERVER"
        },
        {
          "name" : "SPARK_CLIENT"
        },
{% endif %}
        {
          "name" : "MAPREDUCE2_CLIENT"
        }
      ],
      "cardinality" : "1"
    }
  ]
}
