{
  "default_password" : "{{ blueprint_default_password }}",
  "blueprint" : "{{ cluster_name }}",
{% if 'KERBEROS' in blueprint_services %}
  "credentials" : [
   {
     "alias" : "kdc.admin.credential",
     "principal" : "{{ kdc_admin_username }}/admin",
     "key" : "{{ kdc_admin_password }}",
     "type" : "TEMPORARY"
   }
 ],
 "security" : {
        "type" : "KERBEROS"
 },
 {% endif %}
  "configurations" : [
{% if 'OOZIE' in blueprint_services %}
    {
      "oozie-site" : {
        "oozie.service.JPAService.jdbc.password" : "{{ mysql_oozie_password }}"
      }
    },
{% endif %}
    {
      "hive-site" : {
        "javax.jdo.option.ConnectionPassword" : "{{ mysql_hive_password }}"
      }
    }
  ],
  "host_groups" :[
    {
      "name" : "mn01",
      "hosts" : [
        {
          "fqdn" : "{{ groups[cluster_name+'_mn01'][0] }}"
        }
      ]
    },
    {
      "name" : "mn02",
      "hosts" : [
        {
          "fqdn" : "{{ groups[cluster_name+'_mn02'][0] }}"
        }
      ]
    },
    {
      "name" : "mn03",
      "hosts" : [
        {
          "fqdn" : "{{ groups[cluster_name+'_mn03'][0] }}"
        }
      ]
    },
    {
      "name" : "datanode",
      "hosts" : [
          {% for host in groups[cluster_name+'_datanode'] %}
        {
          "fqdn" : "{{ host }}"
        }
          {% if not loop.last %}
          ,
          {% endif %}
          {% endfor %}
      ]
    }
  ]
}
